{% extends "layout.html" %}
{% block content %}
<div id="home-content" class="container my-auto mx-auto py-3 px-1">
	<div class="article-title"> number of generations to run: {{ numberOfGenerations }}</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script language="javascript" type="text/javascript">
	$(function() {
		val = $("#numberOfGenerations").val();
    	console.log(val);
	});
</script>	
<script language="javascript" type="text/javascript">
	console.log(p5.Vector.random2D());

var foods = [];

function foodClass() {
	this.pos = createVector(random(spawnBorder, width-spawnBorder), random(spawnBorder, height-spawnBorder));

	this.draw = function() {
		ellipse(this.pos.x, this.pos.y, 6, 6);
	}
}
function addFoods(n) { 
	for(var i=0; i<n; i++) {
		addFood();
	}
}
function addFood() {
	var food = new foodClass();
	foods.push(food);
	return food;
}

function drawFoods() {
	fill(50, 255, 50);
	noStroke();
	for(var i=0; i<foods.length; i++) {
		foods[i].draw();
	}
}var poisons = [];

function poisonClass() {
	this.pos = createVector(random(spawnBorder, width-spawnBorder), random(spawnBorder, height-spawnBorder));

	this.draw = function() {
		ellipse(this.pos.x, this.pos.y, 6, 6);
	}
}
function addPoisons(n) { 
	for(var i=0; i<n; i++) {
		poisons.push(new poisonClass());
	}
}
function drawPoisons() {
	fill(255, 50, 50);
	noStroke();
	for(var i=0; i<poisons.length; i++) {
		poisons[i].draw();
	}
}

var vehiclesAmount = $("#numberOfGenerations").val();
var foodsAmount = 70;
var watersAmount = 70;
var poisonsAmount = 50;

var spawnBorder = 40;

var drawPerception=true;

var mutationRate = 0.05;


function setup() {
	createCanvas(windowWidth,windowHeight);
	
	addVehicles(vehiclesAmount);
	resetResources();
}

function draw() {
	background(51);

	drawInfo();

	updateVehicles();
	drawVehicles();

	drawFoods();
	drawPoisons();
	drawWaters();

	resupplyResources();

	populate();
}

function mousePressed() { drawPerception = !drawPerception; }
function keyPressed() { if (keyCode===32) { noLoop(); } }


function populate() {
	var tickets = [];
	if (countAlive()<=0) {
		
		var oldPopulation = vehicles.slice(0);
		vehicles = [];

		for(var i=0; i<oldPopulation.length; i++) {
			var v=oldPopulation[i];
			for (var j=0; j<(v.fitness); j++) { tickets.push(i); }
		}
		console.log(tickets.length);
		
		for(var i=0; i<vehiclesAmount; i++) {
			var v = addVehicle();
			if (random()>mutationRate) { v.dna.foodMult = randomParent().dna.foodMult; }
			if (random()>mutationRate) { v.dna.foodPerc = randomParent().dna.foodPerc; }
			if (random()>mutationRate) { v.dna.poisonMult = randomParent().dna.poisonMult; }
			if (random()>mutationRate) { v.dna.poisonPerc = randomParent().dna.poisonPerc; }
			if (random()>mutationRate) { v.dna.waterMult = randomParent().dna.waterMult; }
			if (random()>mutationRate) { v.dna.waterPerc = randomParent().dna.waterPerc; }
			v.limit();
		}
		resetResources();
	}
	function randomParent() {
		var j = tickets[floor(random(tickets.length))]
		return oldPopulation[j];
	}
}

function drawInfo() {
	var vehiclesAlive = countAlive();
	fill(0, 102, 153);
	textSize(32);
	text(vehiclesAlive, 10, 40);
	text(floor(frameRate()), width-50, 40);

	var w = width/vehiclesAlive;
	var h = 15;
	var ii=0;
	for(var i=0; i<vehicles.length; i++) {
		var v = vehicles[i];
		if (v.dead==false) {
			var health = map(v.health, 0, 1, 0, w);
			var thirst = map(v.thirst, 0, 1, 0, w);

			fill(0,255,0, 50); 	rect(ii*w, (height-3*h), w*0.95, h);
			fill(0,255,0); 		rect(ii*w, (height-3*h), health*0.95, h);
			fill(0,0,255, 50);	rect(ii*w, (height-1.5*h), w*0.95, h);
			fill(0,0,255);	rect(ii*w, (height-1.5*h), thirst*0.95, h);
			ii++;
		}
		
	}
}

function limit(x, limit) {
	if (x>limit) { x=limit;	}
}

function resetResources() {
	foods = []; poisons = []; waters = [];
	addFoods(foodsAmount);
	addPoisons(poisonsAmount);
	addWaters(watersAmount);
}

function resupplyResources() {
	if (foods.length<foodsAmount) { addFoods(foodsAmount-foods.length); }
	if (poisons.length<poisonsAmount) { addPoisons(poisonsAmount-poisons.length); }
	if (waters.length<watersAmount) { addWaters(watersAmount-waters.length); }
}
var vehicles = [];

var maxMult = 5;
var maxPerc = 200;

var maxspeed = 3.5;
var maxTurnForce = 0.15;

function vehicleClass() {
	this.pos = createVector(random(spawnBorder, width-spawnBorder), random(spawnBorder, height-spawnBorder));
	this.vel = createVector(random(-2, 2), random(-2, 2));
	this.acc = createVector();
	this.r = 6;

	this.fitness = 0;
	this.dead = false;
	this.health = 1;
	this.thirst = 0;
//random(0.3, 0.4);

	this.dna = {
		foodMult: random(-maxMult,maxMult),
		foodPerc: random(0,maxPerc),
		poisonMult: random(-maxMult,maxMult),
		poisonPerc: random(0,maxPerc),
		waterMult: random(-maxMult,maxMult),
		waterPerc: random(0,maxPerc)
	}
	
	this.eat = function(list, perception, lifeGain, thirstGain) {
		var record = Infinity;
		var closest = null;
		for(var i=list.length-1; i>=0; i--) {
			var d = this.pos.dist(list[i].pos);
			if (d<this.r*2) {
				list.splice(i, 1);
				this.addHealth(lifeGain);
				this.addThirst(thirstGain);
			} else if (d<record && d<perception) { 
				record=d;
				closest = list[i].pos;
			}
		}
		if (closest!=null) {
			return this.seek(closest);
		}
		return createVector(0, 0);
	}

	this.seek = function(target) {
		var desired = p5.Vector.sub(target, this.pos);
		
		desired.setMag(maxspeed);

		var steer = p5.Vector.sub(desired, this.vel);
		steer.limit(maxTurnForce);
		
		return steer;
	}

	this.behaviour = function(foodList, poisonList, waterList) {
		var steer1 = this.eat(foodList, this.dna.foodPerc, 0.05, 0.01);
		var steer2 = this.eat(poisonList, this.dna.poisonPerc, -0.34, -0.05);
		var steer3 = this.eat(waterList, this.dna.waterPerc, 0, -0.05);

		steer1.mult(this.dna.foodMult);
		steer2.mult(this.dna.poisonMult);
		steer3.mult(this.dna.waterMult);

		this.acc.add(steer1);
		this.acc.add(steer2);
		this.acc.add(steer3);
	}

	this.boundaries = function() {
		if (this.pos.x>width-spawnBorder || this.pos.x<spawnBorder) {
			this.acc.add(this.seek(createVector(width/2, this.pos.y)));
		}
		if (this.pos.y>height-spawnBorder || this.pos.y<spawnBorder) {
			this.acc.add(this.seek(createVector(this.pos.x, height/2)));
		}

		
	}

	this.update = function() {
		if (this.dead==true) { return; }

		this.boundaries();
		this.vel.add(this.acc);
		this.vel.limit(maxspeed);
		this.pos.add(this.vel);

		this.acc.mult(0);

		this.addThirst(0.002);
		this.addHealth(-this.thirst/100);
		this.fitness++;
	}

	this.addHealth = function(amount) {
		this.health+=amount;
		if (this.health>1) { this.health=1; }
	}
	this.addThirst = function(amount) {
		this.thirst+=amount;
		if (this.thirst>1) { this.thirst=1; }
		else if (this.thirst<0) { this.thirst=0; }
	}

	this.limit = function() {
		if(this.dna.foodMult>maxMult) { this.dna.foodMult=maxMult; }
		else if(this.dna.foodMult<-maxMult) { this.dna.foodMult=-maxMult; }
		if(this.dna.foodPerc>maxPerc) { this.dna.foodPerc=maxPerc; }

		if(this.dna.poisonMult>maxMult) { this.dna.poisonMult=maxMult; }
		else if(this.dna.poisonMult<-maxMult) { this.dna.poisonMult=-maxMult; }
		if(this.dna.poisonPerc>maxPerc) { this.dna.poisonPerc=maxPerc; }
	}

	this.draw = function() {
		//if (this.dead==true) { return; }
		if (this.pos.x>width || this.pos.x<0 || this.pos.y>height || this.pos.y<0) { return; }

		var gr = color(0, 255, 0);
		var rd = color(255, 0, 0);
		var col = lerpColor(rd, gr, this.health);

	    push();
		    translate(this.pos.x,this.pos.y);

		    if(drawPerception==true && this.dead==false) {
		    	noFill(); 
		    	stroke(0, 255, 0, 80);
			    ellipse(0, 0, this.dna.foodPerc*2, this.dna.foodPerc*2);
			    stroke(255, 0, 0, 80);
			    ellipse(0, 0, this.dna.poisonPerc*2, this.dna.poisonPerc*2);
			    stroke(0, 0, 255, 80);
			    ellipse(0, 0, this.dna.waterPerc*2, this.dna.waterPerc*2);
		    }

		    rotate(this.vel.heading()+PI/2);

			fill(col); stroke(col);
		    beginShape();
			    vertex(0, -this.r*2);
			    vertex(-this.r, this.r*2);
			    vertex(this.r, this.r*2);
		    endShape(CLOSE);
	    pop();
	}
}

function addVehicles(n) { 
	for(var i=0; i<n; i++) {
		addVehicle();
	}
}
function addVehicle(){
	var vehicle = new vehicleClass();
	vehicles.push(vehicle);
	return vehicle;
}
function drawVehicles() {
	stroke(200);
	strokeWeight(2);
	for(var i=0; i<vehicles.length; i++) {
		vehicles[i].draw();
	}
}
function updateVehicles() {
	//var factors = [foods, poisons];

	for(var i=0; i<vehicles.length; i++) {
		vehicles[i].behaviour(foods, poisons, waters);
		vehicles[i].update();
	}

	killVehicles();
}
function killVehicles() {
	for(var i=vehicles.length-1; i>=0; i--) {
		var v = vehicles[i];
		if (v.health<=0) {
			v.dead = true;
			//vehicles.splice(i, 1);
		}

	}
}
function countAlive() {
	var count = 0;
	for(var i=0; i<vehicles.length; i++) {
		if (vehicles[i].dead==false) { count++; }
	}
	return count;
}
var waters = [];

function waterClass() {
	this.pos = createVector(random(spawnBorder, width-spawnBorder), random(spawnBorder, height-spawnBorder));

	this.draw = function() {
		ellipse(this.pos.x, this.pos.y, 6, 6);
	}
}
function addWaters(n) { 
	for(var i=0; i<n; i++) {
		addWater();
	}
}
function addWater() {
	var water = new waterClass();
	waters.push(water);
	return water;
}

function drawWaters() {
	fill(50, 50, 255);
	noStroke();
	for(var i=0; i<waters.length; i++) {
		waters[i].draw();
	}
}
</script>
	</div>
</div>
{% endblock content %}


