{% extends "layout.html" %}
{% block content %}
<div id="canvascontainer"></div>
  <div id="interface">
    <p>
    debug: <input id = "debug" type="checkbox" checked></input>
  </p>
  </div>
<div id="home-content" class="container my-auto mx-auto py-3 px-1">

	<div class="container mx-auto my-auto py-1 px-1">
		<div id="home-content" class="container my-auto mx-auto py-3 px-1">
		   <form method="POST" action="">
				
				    <fieldset class="form-group">
						<div class="form-group">
						    number of generations to run:

						    {% if form.numberOfGenerations.errors %}
						        {{ form.numberOfGenerations(class="form-control form-control-lg is-invalid") }}
						        <div class="invalid-feedback">
						            {% for error in form.numberOfGenerations.errors %}
						                <span>{{ error }}</span>
						            {% endfor %}
						        </div>
						    {% else %}
						        {{ form.numberOfGenerations(class="form-control form-control-lg") }}
						    {% endif %}
						</div>
					</fieldset>
					<div class="form-group">
						<a id="start-btn" class="btn btn-success" href="{{ url_for('main.start') }}"><strong>Start</strong></a>
					</div>
				</form>


		</div>
	</div>


</div>
{% endblock content %}


